{% extends 'base.html' %}
{% block content %}
   <div class="superhero-headingDiv">
      <h2>Superheroes</h2>
        <form method="get" action="">
          <input type="text" name="search" placeholder="Search superheroes...">
          <button type="submit">Search</button>
        </form>
   </div>
    
   <div class="universe-card-container">
        {% for universe in universes %}
            <a href="?search={{ universe }}" class="universe-card {{ universe|lower }}-universe">
                <p>{{ universe }}</p>
            </a>
        {% endfor %}
    </div>
    <div class="superhero-grid">
        {% for superhero in superheroes %}
           <div class="superhero-card">
               <a href="{% url 'hero-detail' pk=superhero.pk %}">
                 <img src="{{ superhero.main_image.url }}" alt="{{ superhero.name }}" style="max-width: 200px; max-height: 200px;">
                 <h3>{{ superhero.name }}</h3>
                 <p>Universe: {{ superhero.universe }}</p>
               </a>
           </div>
           {% empty %}
               <p> No Superheros Found</p>
           {% endfor %}
       </div>
       {% if user.is_authenticated %}
            <a href="{% url 'add-hero' %}">Add New Superhero</a>
        {% endif %}
{% endblock %}